<div class="mt-4">
  <div>
    <h3>
     Khóa học đã xóa 
    </h3>
    <a href="/me/stored/courses">khóa học của bạn</a>
  </div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">level</th>
            <th scope="col">Deleted</th>
            <th scope="col">Manager</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.deletedAt}}</td>
            <td>
                <a href="" class="btn btn-link btn-restore " data-id="{{this._id}}">Khôi phục</a>
                <a href="" class="btn btn-link" data-toggle="modal" data-target="#Model-delete-courses" data-id="{{this._id}}">Xóa vĩnh viễn</a>
            </td>
        </tr>

        {{else}}
        <tr>
          <td class="text-center" colspan="5">Thùng rác trống.</td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>

<!-- Modal-Courses -->
<div class="modal fade" id="Model-delete-courses" tabindex="-1" role="dialog" aria-labelledby="Model-delete-coursesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Model-delete-coursesLabel">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này!
      </div>
      <div class="modal-footer">
        <button id="btn-delete-courses" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{!-- form hiden --}}
<form method="POST" name="delete-form">
</form>
<form method="POST" name="restore-form">
</form>
<script>
    addEventListener('DOMContentLoaded', () => {
        // khai báo biến
        var courseId;
        var deleteForm = document.forms['delete-form'];
        var btnCourseDelete = document.getElementById('btn-delete-courses');
        // biến restore 
        var btnRestore = $('.btn-restore')
        var restoreForm = document.forms['restore-form'];
        // thực hiện delete
        // show dialog
        $('#Model-delete-courses').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        })
        // khi click delete
        btnCourseDelete.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/destroy?_method=DELETE';
            deleteForm.submit();
        }
        // thực hiện restore
        btnRestore.click(function(e){
            e.preventDefault();
            courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId +'/restore?_method=PATCH';
            restoreForm.submit();
        })
    });
</script>